[flake8]

# W605 invalid escape sequence '\-'
# F401 'module' imported but unused
# E501 line too long (85 > 79 characters)

per-file-ignores =
    ./docs/conf.py
    ./src/openeo_grass_gis_driver/actinia_processing/*.py: E501
    ./src/openeo_grass_gis_driver/actinia_processing/__init__.py: F401
    ./src/openeo_grass_gis_driver/models/*.py: E501
    ./src/openeo_grass_gis_driver/models/collection_schemas.py: W605, E501
    ./src/openeo_grass_gis_driver/models/job_schemas.py: W605, E501
    ./src/openeo_grass_gis_driver/models/service_schemas.py: W605
    ./src/openeo_grass_gis_driver/collection_information.py: E501
    ./src/openeo_grass_gis_driver/jobs_job_id.py: E501
    ./src/openeo_grass_gis_driver/jobs_job_id_estimate.py: E501
    ./src/openeo_grass_gis_driver/jobs_job_id_logs.py: E501
    ./src/openeo_grass_gis_driver/jobs_job_id_results.py: E501
    ./src/openeo_grass_gis_driver/udf.py: E501
    ./src/openeo_grass_gis_driver/udf_lang_udf_type.py: E501
    ./src/openeo_grass_gis_driver/utils/process_graph_examples_v03.py: E501
    ./src/openeo_grass_gis_driver/utils/process_graph_examples_v04.py: E501
    ./src/openeo_grass_gis_driver/utils/process_graph_examples_v10.py: E501
