[flake8]

# ignore =

ignore =
    E122 continuation line missing indentation or outdented
    E127 continuation line over-indented for visual indent
    E128 continuation line under-indented for visual indent
    E251 unexpected spaces around keyword / parameter equals
    E501 line too long (85 > 79 characters)
    F401 'module' imported but unused
    F405 'FILTER_BBOX' may be undefined, or defined from star imports: openeo_grass_gis_driver.utils.process_graph_examples_v10
    F821 undefined name 'vector_object'
    F841 local variable 'rn' is assigned to but never used

    # ignored by default
    E121 continuation line under-indented for hanging indent
    E123 closing bracket does not match indentation of opening bracket's line
    E126 continuation line over-indented for hanging indent
    W504 line break after binary operator

per-file-ignores =
    ./src/openeo_grass_gis_driver/models/job_schemas.py: W605
    ./src/openeo_grass_gis_driver/models/collection_schemas.py: W605
    ./src/openeo_grass_gis_driver/models/service_schemas.py: W605
